.delete {
  background-color: rgb(240, 22, 22);
  margin-left: 10px;
}

* {
  background-color: rgb(92, 73, 122);
}

.Apps {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}

.App-header {
  display: block;
  text-align: center;
}

.input {
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid black;
}

.addbutton {
  border-radius: 5px;
  font-size: 25px;
  background-color: blue;
  margin-left: 10px;
}

.addbutton:hover {
  background-color: aquamarine;
}

.tasks {
  text-align: center;
  list-style-type: none;
}

.delete:hover {
  background-color: blueviolet;
}

.tasks {
  font-size: 25px;
}